* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420)));
  /* Ranges from 421px to 1199px */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9e4f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0F547E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0F547E;
}

#main-nous {
  margin-top: -150px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

#main-nous .back {
  overflow: hidden;
  width: 100%;
  min-width: 1800px;
  z-index: -111;
  position: relative;
  height: 738px;
}

#main-nous .black {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075);
  position: absolute;
  z-index: -110;
  max-height: 738px;
}

#main-nous .content {
  position: absolute;
  z-index: 11;
  top: 0;
  margin-top: 240px;
}

#main-nous .content .title {
  --max-size:35;
  --min-size: 25;
  font-size: var(--responsive);
  font-weight: bolder;
  max-width: 905px;
  font-family: "Lexend";
  margin-bottom: 30px;
  color: white;
}

#main-nous .content .text {
  --max-size: 21;
  --min-size: 16;
  font-size: var(--responsive);
  font-family: "Lexend";
  font-weight: normal;
  color: white;
  max-width: 1200px;
}

#main-nous .content-card-nous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -100px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lexend";
  gap: 2em;
}

#main-nous .content-card-nous .cardd {
  width: 226px;
  height: 190px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.466);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-top: 20px;
}

#main-nous .content-card-nous .cardd .titre {
  font-size: 16px;
  font-weight: 400;
}

#main-nous .content-card-nous .cardd .icon {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: -13px;
  font-size: 30px;
  color: #DF1416;
  text-align: center;
  cursor: pointer;
}

#main-nous .content-card-nous .cardd .icon:hover {
  color: #0F547E;
}

#main-nous .call {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

#main-nous .call .sidetext {
  font-size: 35px;
  font-weight: 600;
  margin-right: 50px;
  padding-bottom: 40px;
  font-family: "Lexend";
  color: #DF1416;
}

#main-nous .call .btn {
  font-size: 24px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

#main-nous .call .btn .icon {
  margin-right: 10px;
}

#main-nous .colorgrad {
  background: #d1edff;
  background: -webkit-gradient(linear, left top, left bottom, from(#d1edff), to(white));
  background: linear-gradient(-180deg, #d1edff 0%, white 100%);
  width: 100%;
  height: 1000px;
  z-index: -11141;
  max-width: 1900px;
  margin-top: 700px;
  z-index: -999;
  top: 0;
  position: absolute;
}

#main-nous .content-nous {
  margin-bottom: 150px;
  text-align: center;
  font-family: "Lexend";
  margin-top: 200px;
}

#main-nous .content-nous .top-title {
  font-size: 24px;
  color: #313131;
  font-weight: normal;
}

#main-nous .content-nous .title {
  font-size: 49px;
  color: #0F547E;
  font-weight: normal;
}

#main-nous .content-nous .notre-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lexend";
  margin-top: 100px;
}

#main-nous .content-nous .notre-content .notre {
  width: 340px;
  margin: auto;
  margin-bottom: 100px;
}

#main-nous .content-nous .notre-content .notre .title {
  font-size: 26px;
  color: #DF1416;
  text-align: center;
  text-transform: uppercase;
}

#main-nous .content-nous .notre-content .notre .text {
  text-align: justify;
  font-family: "Lexend";
  letter-spacing: 1px;
  line-height: 26px;
}

#main-nous #showcase-points .content-pointskenitra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-nous #showcase-points .content-pointskenitra .image1 {
  padding-bottom: 50px;
}

#main-nous #showcase-points .content-pointskenitra .content5 {
  position: absolute;
}

#main-nous #showcase-points .content-pointskenitra .title {
  color: #0F547E;
  --max-size: 31;
  --min-size: 25;
  font-size: var(--responsive);
  letter-spacing: 3px;
  font-family: "Lexend";
  font-weight: bold;
  margin-left: 50px;
  max-width: 767px;
}

#main-nous #showcase-points .content-pointskenitra .content-points {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3em;
  width: 1200px;
}

#main-nous #showcase-points .content-pointskenitra .content-points .card-point {
  margin-left: 50px;
  position: relative;
  width: 350px;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

#main-nous #showcase-points .content-pointskenitra .content-points .card-point .number {
  font-family: "Lexend";
  font-size: 152px;
  position: absolute;
  right: 0;
  margin-top: 0px;
  margin-right: 15px;
  opacity: .5;
  color: #D1EDFF;
}

#main-nous #showcase-points .content-pointskenitra .content-points .card-point .text {
  position: absolute;
  padding-top: 190px;
  margin-left: 20px;
  font-size: 19.5px;
  color: #313131;
  text-align: center;
  font-family: "Lexend";
}

#main-nous #derrier {
  margin-top: 250px;
  margin-bottom: 250px;
}

#main-nous #derrier .title {
  --max-size: 40;
  --min-size: 30;
  font-size: var(--responsive);
  font-family: "Lexend";
  color: #0F547E;
  letter-spacing: 2.5px;
  font-weight: bold;
}

#main-nous #derrier .downtitle {
  --max-size: 30;
  --min-size: 25;
  font-size: var(--responsive);
  font-weight: normal;
  color: #b6b6b6;
  margin-bottom: 70px;
  font-family: "Lexend";
  margin-top: -10px;
}

#main-nous #derrier .content-derrier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5em;
}

#main-nous #derrier .content-derrier .last-image {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

#main-nous #derrier .content-derrier .text-derrier {
  margin: auto;
}

#main-nous #derrier .content-derrier .text-derrier .text {
  font-family: "Lexend";
  font-weight: 500;
  color: #313131;
  letter-spacing: 1px;
  max-width: 659px;
  --max-size: 20;
  --min-size: 18;
  font-size: var(--responsive);
  text-align: justify;
  line-height: 31px;
  width: 90%;
  margin: auto;
}

@media (max-width: 1852px) {
  #showcase-points .content-pointskenitra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  #showcase-points .content-pointskenitra .image1 {
    width: 406px;
    height: 645px;
  }
  #showcase-points .content-pointskenitra .content5 {
    margin-left: 340px;
  }
  #showcase-points .content-pointskenitra .content-points {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3em;
    max-width: 600px !important;
  }
  #showcase-points .content-pointskenitra .content-points .card-point {
    margin-left: 50px;
    position: relative;
    max-width: 220px;
    max-height: 157px;
    border-radius: 10px;
  }
  #showcase-points .content-pointskenitra .content-points .card-point .number {
    font-size: 94px !important;
  }
  #showcase-points .content-pointskenitra .content-points .card-point .text {
    font-size: 12px !important;
    margin-top: -78px;
  }
}

@media (max-width: 1852px) and (max-width: 1012px) {
  #showcase-points .content-pointskenitra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  #showcase-points .content-pointskenitra .image1 {
    width: 406px;
    height: 505px;
    margin: auto;
  }
  #showcase-points .content-pointskenitra .content5 {
    margin-left: 0px;
    position: static !important;
    margin-bottom: 50px;
  }
  #showcase-points .content-pointskenitra .content-points {
    margin-top: 50px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    gap: 3em;
    max-width: 400px !important;
    margin: auto;
  }
  #showcase-points .content-pointskenitra .content-points .card-point {
    margin-left: 50px;
    position: relative;
    max-width: 220px;
    max-height: 157px;
    border-radius: 10px;
  }
  #showcase-points .content-pointskenitra .content-points .card-point .number {
    font-size: 94px !important;
  }
  #showcase-points .content-pointskenitra .content-points .card-point .text {
    font-size: 12px !important;
    margin-top: -78px;
  }
}
/*# sourceMappingURL=sommesnous.css.map */