$primary-color:#0F547E;
$sec-color:#DF1416;
$primary-font:'Lexend';
* {
    /* Calculation */
    --diff: calc(var(--max-size) - var(--min-size));
    --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #c9e4f5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color; 
  }

  #main-Contact{
    margin-top: -150px;
    overflow: hidden;        
    position: relative;
    height: 100%;

    .back{
        overflow: hidden;
        width: 100%;
        z-index: -111;
        position: relative;
        height: 738px;
        min-width: 1800px;
    }
   
    .black{
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.075);
        position: absolute;
        z-index: -110;
        max-height: 738px;

    }
    .content{
        position: absolute;
        z-index: 11;
        top: 0;
        margin-top: 240px;
        .title{
           font-size: 48px;
            font-weight: bolder;
            max-width: 905px;
            font-family: $primary-font;
            margin-bottom: 30px;
            color: white;
        }
        .text{
            font-size: 26px;
            font-family: $primary-font;
            font-weight: normal;
            color: white;
            max-width: 1200px;
        }
    }

    .call{
        margin-top: 100px;
        margin-bottom: 100px;
        .sidetext{
            font-size: 35px;
            font-weight: 600;
            margin-right: 50px;
            padding-bottom: 40px;
            font-family: $primary-font;
            color: white;
        }

        .btn{
            font-size: 24px;
            font-weight: 600;
            align-items: center;
            border-radius: 5px;
            .icon{
                margin-right: 10px;
            }
        }
    }
    


    .contact{
        margin-top: 150px;
        margin-bottom: 150px;
        background-color: #e2e2e246;
        padding: 50px;
        border-radius: 10px;
        
        
            .text-f{
                width: 48%;
                margin-bottom: 20px;
                margin-right: 20px;
                height: 40px;
                padding-left: 10px;
                font-family: $primary-font;
                outline-style: none;
                border: none;
            }
            
            input::placeholder{
                font-family: $primary-font;
                color: $primary-color;
                opacity: .6;
            }
            input[type=text]:focus{
                border: 2px solid #1994e0;
                
            }
        
        .text-f:first-child{
            width: 97.7%;
        }
        .text-f:nth-child(8){
            width: 97.7%;
        }
        .text-f:nth-child(9){
            width: 97.7%;
        }
        
        .check{
            margin-right:10px ;
            margin-bottom: 15px;
            }            
        .text-check{
            font-family: $primary-font;
            font-size: 18px;
            
        }
        .check[type=checkbox]:checked + label {
            color: $primary-color;

            font-weight: bolder;
        } 
        textarea{
            font-family: $primary-font;
            width: 97.7%;
            height: 150px;
            font-size: 18px;
            padding-top: 10px;
            margin-bottom: 20px;
            margin-right: 20px;
            padding-left: 10px;
            outline: none;
            border: 0;
        }

        textarea::placeholder{
            font-family: $primary-font;
            color: $primary-color;
            opacity: .6;
        }
        textarea:focus{
            border: 2px solid #0F547E;
        } 
        .btn{
            padding: 10px;
            width: 300px;
            background-color: $sec-color;
            color: white;
            font-size: 23px;
            letter-spacing: 1px;
            border: none;
            border-radius: 10px;
        }
        
    }
  }

  @media  screen and (max-width:1204px) {
      #main-Contact{
          .content{
              padding: 10px;
              .title{
                  font-size: 35px;
              }
              .text{
                  font-size: 20px;
                  max-width: 905px;

              }
           
          }
          .contact{
         
          width: 100% !important; 
          .text-f{
            width: 100% !important; 

          }

         
          .text-check{
              font-size: 14px; 
              
            }
       
      } 

    }

}
      
      
      
    
@media  screen and (max-width:550px) {
    #main-Contact{
        .content{
            padding: 10px;
            .title{
                font-size: 25px;
            }
            .text{
                font-size: 20px;
                max-width: 905px;

            }
         
        }
        .contact{
       
            width: 100% !important; 
        .text-f{
            width: 100% !important; 

        }

       
        .text-check{
            font-size: 14px; 
            
        }
     
    } 

  }

}
  


